<html>
    <head>
        <title>Maria's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Maria's Blog</a></h1>
        </div>

        <div>
            <p>published: June 30, 12:16</p>
            <h2><a href="">My first post</a></h2>
            <p>This blog is incredibly cool! you will find out about such things like Kumamon, Dog Snak, Buck Weat and many more!</p>
        </div>

        <div>
            <p>published: June 30, 12:16</p>
            <h2><a href="">My second post</a></h2>
            <p>Do not forget to stay tuned regarding out new latest wine updates, as the wather today is 90% chance of wine!</p>
        </div>
    </body>
</html>